# Compiled files
*.obj
*.exe
*.dll
*.lib
*.pdb

# Build folders
build/
out/
bin/
Release/
Debug/

# IDE files
.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates

.vs/
*.ipch
*.sdf
*.VC.db


# OS files
.DS_Store
Thumbs.db